/*
 CSS Stylesheet
 */

/* Body */
body{
    background-color: #ededed;
    height: 750px;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

/* Navigation */
.navigation {
    padding-left: 40px;
    padding-right: 40px;
}

.navbar {
    max-height: 50px;
    background-color: white;
}

.navigation .navbar-brand {
    margin-right: 50px;
    padding: inherit;
    color: white;
    font-weight: bold;
    background-color: #3DB6B4;
}

.nav-item {
    font-size: 15px;
}

/* Content */
.container .row {
    padding-bottom: 30px;
}

/* Images */
img{
    width:100%;
    height:100%;
  }

/* image border styling*/
.pic{
    border: 3px solid rgb(81, 175, 160);
}

/* Container */
.container {
    padding-bottom: 40px;
}

.col-lg-6 {
    padding: 30px;
}

/* Row */
.row {
    padding-bottom: 30px; 
}

/* Box */
.box {
    margin-top: 60px;
    margin-bottom: 62px;
    padding: 10px 20px 15px;
    color: black;
    background-color: white;
}

/* Title */
.title {
    color: #3DB6B4;
    font-family: Georgia, 'Times New Roman', sans-serif;
    font-weight: bolder;
    padding-top: 25px;
}

.title1 {
    color: #3DB6B4;
    font-family: Georgia, 'Times New Roman', sans-serif;
    font-weight: bolder;
    padding-top: 25px;
    text-align: center;
}


/* Paragraph */
p{
    color: #6D8092;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px; 
    }


/* Data Table */
.dataframe {
    table-layout: auto;
    font-size: 17px;
    border-collapse: collapse;
}

th {
    text-align: left;
    padding: 7px;
  }

td {
    text-align: right;
    padding: 7px;
}

tr:nth-child(odd) {background-color: #f2f2f2;}

table tr:first-child td {border-top: 0;}
table tr td:first-child {border-left: 0;}
table tr:last-child td {border-bottom: 0;}
table tr td:last-child {border-right: 0;}


/* Footer */
footer{
    background-color: #666666; 
    border-top-style: solid; 
    border-top-width: 5px; 
    border-top-color: #3DB6B4;
    color: white; 
    min-height: 55px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 
    text-align: center; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 15px; 
    }

/* Media Queries */
@media(max-width: 900px){
    .navbar-expand-lg{
    background-color: #3DB6B4;
    }
    .navbar{
      max-height: none; 
      padding: inherit;
    }
    .navbar div{
      margin: inherit; 
      background-color: white;  
    }
    .navbar-brand{padding: 10px;}
    
    button{margin-right: 30px;}
    
    button:focus {
      outline: 1px solid;
      outline: 5px auto -webkit-focusring-color;
      }
}